:root {
  // ------------- Color -------------
  --Ctext-dark: #0b1d37;
  --Csmall-text: #757575;
  --Cblue: #336dfe;
  --Ctext-white: #fafafa;
  --Cbackground-right: #122c51;

  // ------------- Font + typo -------------
  --main-font: "Poppins", sans-serif;
  --font-medium: 500;
  --font-semi: 600;

  --fs12: 0.75rem;
  --fs14: 0.875rem;
  --fs18: 1.125rem;
  --fs20: 1.25rem;
  --fs24: 1.5rem;
  --fs26: 1.625rem;
  --fs28: 1.75rem;
  --fs32: 2rem;
}
